/* Pour les images : grid row, align self et justify self et streth pour élargir 
et faire toute la longeur ou la largeur 
sur le site : css tricks : complete guide to css grid

Pour attribuer des id ou class à des images : img ..... id="" ou class=""*/

*{
padding : 0;
margin:0;

}
@font-face {
  font-family: "Cirrusumulus";
  src: url("../src/fonts/cirruscumulus-master/cirruscumulus-master/Cirrusumulus/CirrusCumulus.ttf") format("TrueType");
  font-style: normal;
}

@font-face {
  font-family: "Lineal";
  src: url("../src/fonts/Lineal.otf") format("OpenType");
  font-style: normal;
}

@font-face {
  font-family: "Pilowlava";
  src: url("../src/fonts/pilowlava-master/pilowlava-master/Fonts/Pilowlava-Regular.otf") format("OpenType");
  font-style: normal;
}

 
.logo a{
font-size: 20px;
color: rgb(0, 0, 0);
padding: 10px, 20px;
border: 1px solid rgb(0, 0, 0);
position: absolute;
top: 10px;
left: 10px;
text-decoration: none;
font-weight: 1200;
}

ul{
list-style: none;
float: right;
display: flex;
margin-top: 20px;
font-size: 18pt;
}

ul li a{
text-decoration: none;
color: black;
font-size: 20px ;
padding: 10px 20px;
text-transform: uppercase;
border: 1px solid transparent;
margin: 10px;
font-weight: 250;
transition: 0,6s ease;
}

ul li.active a {
background: rgb(249, 249, 248);
color:black;
}

ul li a:hover {
  background: chocolate;
  color: white;
  }


  .hero-image {
    background-image: url("../src/img/vortex.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

  }
  

.titre h1{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 50px;
text-shadow: 3px chocolate ;
font-family: "Cirrusumulus";
}

#biographie h1{
  font-family: "Lineal";
  font-size: 80px;
  text-align: center; 

}
.container {  
 margin: 10%;
 background-color: rgb(229, 229, 229)
}

.BIOGRAPHIE{
font-size: 18pt;
text-align: justify;
right: 10%;
}

.BIOGRAPHIE p{
  font-size: 13pt ;
  margin-right: 10px ;
}

img{
  width: max-content;
  position: absolute;
  margin-left: 360px;
  width: 480px;
  height: 658px;
  }

img:hover{
  -ms-transform: scale(3) translate(30px);
  -webkit-transform: scale(3) translate(30px);
  transform: scale(2);
}

.image-zoom{
  width: 500px;
  overflow: hidden;
}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  bottom: 8%;
  margin-left: 25%;
  margin-top: 5%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin:2px;
  background-color: #090909;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  grid-column: 1;
  grid-row: 3 / 5;
  

}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

