/* Pour les images : grid row, align self et justify self et streth pour élargir 
et faire toute la longeur ou la largeur 
sur le site : css tricks : complete guide to css grid

Pour attribuer des id ou class à des images : img ..... id="" ou class=""*/

*{
padding : 0;
margin: 0;
box-sizing: border-box;
}
 
@font-face {
  font-family: "Cirrusumulus";
  src: url("../src/fonts/cirruscumulus-master/cirruscumulus-master/Cirrusumulus/CirrusCumulus.ttf") format("TrueType");
  font-style: normal;
}

@font-face {
  font-family: "Lineal";
  src: url("../src/fonts/Lineal.otf") format("OpenType");
  font-style: normal;
}

@font-face {
  font-family: "Pilowlava";
  src: url("../src/fonts/pilowlava-master/pilowlava-master/Fonts/Pilowlava-Regular.otf") format("OpenType");
  font-style: normal;
}



.header{
background-image: url(base-web\src\img\j.Maeda.jpg);
height: 100vh;
background-size: cover;
background-position: center;

}


.hero-image {
  background-image: url("../src/img/vortex.jpg");
  background-color: #ccccccb9 0,9;
  
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
}


ul{
list-style: none;
float: right;
display: flex;
margin-top: 20px;
}

ul li a{
text-decoration: none;
color: black;
font-size: 20px ;
padding: 10px 20px;
text-transform: uppercase;
border: 1px solid transparent;
margin: 10px;
font-weight: 500;
transition: 0,6s ease;
}

ul li.active a {
background: rgb(249, 249, 248);
color:black;
}

ul li a:hover {
  background: chocolate;
  color: white;
  }

  .titre h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    text-shadow: 3px chocolate ;
    font-family: "Cirrusumulus";
    }
    
.logo a{
    font-size: 40px;
    color: black;
    padding: 10px, 20px;
    border: 1px solid black;
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    font-weight: 1200;
    }


    img{
      width: max-content;
      position: absolute;
      margin-left: 360px;
      width: 480px;
      height: 658px;
      }
  
  img:hover{
      -ms-transform: scale(3) translate(30px);
      -webkit-transform: scale(3) translate(30px);
      transform: scale(2);
  }
  
  .image-zoom{
      width: 1000px;
      overflow: hidden;
  }
.Contenant{
margin: 10%;
background-color: rgb(224, 224, 224);
}

.text-container {
  max-width: 1000px;
  bottom: 8%;
  margin-left: 20%;
  margin-top: 5%;
}

.Editions{
  font-family: "Lineal";
  font-size: 80px;
  text-align: center;  
}

.RB h1{
  text-align: center;
  margin-top: 200px;
  margin-left: 20%;
  font-size: 40px;
  
 }
 #Descriptif RB{
  margin-left:100px;
  text-align: justify;
  font-size: 30px;
  margin-left: 50%;

 }
 .RB p{
   margin-left:100px;
   text-align: justify;
   font-size: 30px;
   margin-left: 10%;
   
 }

 .RB h2{
  margin-top: 200px;
  margin-left: 10%;
  font-size: 40px;
 }

 #gif{
margin-left: 10%;
 }
#vidéo{
  font-size: 40px;
  margin-left: 10%;
}


.DBN h1{
  text-align: center;
  margin-top: 200px;
  margin-left: 15%;
  font-size: 40px;
  text-transform: uppercase;
 }

 
.DBN p{
   margin-left: 10%;
   text-align: justify ;
   font-size: 30px;
 }



.MM h1{
  font-size: 40px;
  text-align: center;
  margin-left: 10%;
 }
 
.MM p{
  font-size: 30px;
 }


.CC h1{
  text-align: center;
  margin-top: 200px;
  font-size: 40px;
  margin-left: 10%;
 }
 
 .CC p{
   margin-left:100px;
   text-align: justify;
   font-size: 30px;
 }

 .DLS h1{
  text-align: center;
  margin-top: 200px;
  font-size: 40px;
  margin-left: 10%;
 }
 
 .DLS p{
   margin-left:100px;
   text-align: justify;
   font-size: 30px;
 }

 .DLS h2{
  font-size: 30px;
 }

 .Rouge{
  color: darkred;
  font-size: 30px;
 }
