/* on place généralement les variables dans le pseudo élémen :root */
:root{
    /* le nom de la varriable commence toujours pas deux tirets */
    --exemplevariable : rgb(255,0,0);
}

/* remise à zero des éléments */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:azure
}

p{
    color: black;
    font-size: 30pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

.btn{
    display: block;
    margin: 150px 20px  100px;
    color: rgb(0, 0, 0);
    padding: 100px 500px;
    background: rgb(255, 255, 255);
    outline: none;
    border: 3px black solid;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 4px rgb(0, 0, 0);
    text-decoration: none;
}

.btn:hover{
    box-shadow: 8px black;
    top: 4px;
}


