/* on place généralement les variables dans le pseudo élémen :root */
:root{
    /* le nom de la varriable commence toujours pas deux tirets */
    --exemplevariable : rgb(255,0,0);
}

/* remise à zero des éléments */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

img{
    width: max-content;
    position: absolute;
    margin-left: 360px;
    width: 480px;
    height: 658px;
    }

img:hover{
    -ms-transform: scale(3) translate(30px);
    -webkit-transform: scale(3) translate(30px);
    transform: scale(2);
}

.image-zoom{
    width: 500px;
    overflow: hidden;
}

.btn{
    margin-top: 540px;
    margin-left: 1050px;
    color: rgb(0, 0, 0);
    padding: 10px 50px;
    background: rgb(255, 255, 255);
    outline: none;
    border: 3px black solid;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    text-decoration: none;
    box-shadow: 0 4px rgb(0, 0, 0);
}

.btn:hover{
    box-shadow: 8px black;
    top: 4px;
}