/* on place généralement les variables dans le pseudo élémen :root */
:root{
    /* le nom de la varriable commence toujours pas deux tirets */
    --exemplevariable : rgb(255,0,0);
}

/* remise à zero des éléments */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

img{
    width: max-content;
    position: absolute;
    margin-left: 10px;
    margin-top: 100px;
    width: 480px;
    height: 658px;
    }

.Texte1{
font-size: 18pt;
text-align: center;
margin-top: 10px;
}

.Texte2{
    font-size: 15pt;
    text-align: right;
    text-decoration: white;
    margin-top: 250px;
    margin-right: 60px;
    
}
