

body{
    min-height: 100vh;
    padding: 10px;

    display:grid;
    grid-template-columns: auto minmax(10vw, 250px) minmax(10vw, 400px) 1fr;
    grid-template-rows: minmax(8vw, 100px) auto auto auto;
    grid-template-areas: 
        "titre infos infos ."
        "titre image image . "
        "titre ingredients recette ."
        "back ingredients recette .";
    grid-gap:30px;

    font-family: "Compagnon";
    
    background-color: brown;
}

#caroussel{
    grid-area: image;
    justify-self: center;
    align-self: center;
    position: relative;
    width: 100%;
    aspect-ratio: 2 / 2;
    border:5px solid var(--dark-brown);
    
}

#caroussel_wrapper figure{
    width: 100%;
    height: 100%;
}
#caroussel_wrapper figure > img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

figure{
    /* grid-area: image; */
    position: relative;
    justify-self: center;
    align-self: center;
}
figure img{
    display: block;
    width: 100%;
}
.img{
    width: 200px;
    height:200px;
    overflow-clip-margin: content-box;;
   
}

audio{
    width: 100%;
}
